<footer class="footer" id="footer">
    <p>&copy; 2025 Z7G4N1U8. All Rights Reserved.</p>
    <ul>
        <li>
            <a href="mailto:contact.fz5o4@aleeas.com">
                <i class="fa-solid fa-envelope"></i> Email
            </a>
        </li>
        <li>
            <a href="https://github.com/Z7G4N1U8">
                <i class="fa-brands fa-github"></i> GitHub
            </a>
        </li>
        <li>
            <a href="https://t.me/Z7G4N1U8">
                <i class="fa-brands fa-telegram"></i> Telegram
            </a>
        </li>
    </ul>
</footer>
